#   ❌  mermeroo
#
[general]
server_check_url = http://1.1.1.1/generate_204
#network_check_url = http://connectivitycheck.platform.hicloud.com/generate_204
network_check_url = http://www.youtube.com
server_check_timeout = 3000
profile_img_url = https://avatars.githubusercontent.com/repcz
resource_parser_url =https://raw.githubusercontent.com/KOP-XIAO/QuantumultX/master/Scripts/resource-parser.js
geo_location_checker = http://ip-api.com/json/?lang=zh-CN, https://raw.githubusercontent.com/ConnersHua/RuleGo/master/Quantumult/Script/geo_location_checker.js
excluded_routes = 239.255.255.250/32
dns_exclusion_list = dns_exclusion_list = *.cmpassport.com, *.jegotrip.com.cn, *.icitymobile.mobi, id6.me
[dns]
no-ipv6
server= 223.5.5.5, excluded_ssids=WiFi-SSID
server= 119.29.29.29, excluded_ssids=WiFi-SSID
server= 10.0.0.1:7874, included_ssids=WiFi-SSID
server=223.5.5.5
server=1.1.1.1
server=8.8.8.8
[policy]
static=AI, direct, proxy, reject
static=游戏平台, direct, proxy, reject
static=Emby, direct, proxy, reject
static=推特消息, direct, proxy, reject
static=国际媒体, direct, proxy, reject
static=国外网站, direct, proxy, reject
static=微软服务, direct, proxy, reject
static=Spotify, direct, proxy, reject
static=电报消息, direct, proxy, reject
static=谷歌服务, direct, proxy, reject

available=HongKong, server-tag-regex=(?i)🇭🇰|香港|(\b(HK|Hong)\b), check-interval=300, alive-checking=false, img-url=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Hong_Kong.png
available= Taiwan, server-tag-regex=(?i)🇸🇬|新加坡|狮|(\b(SG|Singapore)\b), check-interval=300, alive-checking=false, img-url=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Singapore.png
available= JAPAN, server-tag-regex=(?i)🇯🇵|日本|东京|(\b(JP|Japan)\b), check-interval=300, alive-checking=false, img-url=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Japan.png
available= CHINA, server-tag-regex=(?i)🇨🇳|🇹🇼|台湾|(\b(TW|Tai|Taiwan)\b), check-interval=300, alive-checking=false, img-url=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/China.png
available= USA, server-tag-regex=(?i)🇺🇸|美国|洛杉矶|圣何塞|(\b(US|United States)\b), check-interval=300, alive-checking=false, img-url=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/United_States.png
available= Germany, server-tag-regex=(?i)🇩🇪|美国|洛杉矶|圣何塞|(\b(DE|Germany)\b), check-interval=300, alive-checking=false, img-url=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Germany.png
static=Telegram, proxy, img-url=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Telegram.png
static=FINAL, proxy, img-url=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Final.png
[server_local]

[server_remote]

[filter_remote]

FILTER_LAN, tag=LAN, force-policy=direct, enabled=true
FILTER_REGION, tag=IR, force-policy=direct, update-interval=172800, opt-parser=false, enabled=true

[filter_local]

final, proxy

[rewrite_local]

[rewrite_remote]

https://raw.githubusercontent.com/Maasea/sgmodule/master/YouTube.Enhance.sgmodule, tag=油管去广告@Maasea, update-interval=172800, opt-parser=true, enabled=true

[task_local]

event-interaction https://raw.githubusercontent.com/xream/scripts/main/surge/modules/network-info/net-lsp-x.js, tag=网络信息 𝕏, img-url=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Global.png, enabled=true
event-interaction https://raw.githubusercontent.com/KOP-XIAO/QuantumultX/master/Scripts/streaming-ui-check.js, tag=流媒体解锁查询, img-url=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Siri.png, enabled=true

[http_backend]

[mitm]
passphrase =
p12 =
skip_dst_ip = 17.0.0.1
